<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>duilian</key>
	<string>子夜鼠欢爆竹乐，门庭燕舞笑声喧</string>
	<key>jieshao</key>
	<string>老鼠偷吃粮食，证明“仓鼠有余粮”，说明这户富足，家中鼠多象征富裕。

清代方叡颐《梦园丛说》记载粤东一种“钱鼠”玩具，叫声好像数钱。老鼠能发出数钱般的声音。旧时湖北等地以此声为吉祥之兆。浙江一带却认为“前半夜主得财，后半夜主散财”，而崇明一带则认为此声预示祸灾祸。

鼠的繁殖能力极强，民间常作为生殖崇拜的象征。子女居群的母亲戏称为“鼠胎”或“鼠肚”。清末画家任预《十二生肖图册》，其中《子鼠图》五鼠正抢食罐中瓜籽，而“籽”与“子”音同，表达多子意味。 老鼠与葫芦、葡萄、石榴等多籽植物组成吉祥图案，强化了繁衍后代的愿望。

东北煤矿工人尊鼠为“鼠仙”，忌讳捕鼠，在井下吃饭分饭菜喂老鼠。云南一个旧矿区还有座耗子庙。矿工感恩于老鼠对灾祸的灵敏，将崇拜和禁忌代代传承。
</string>
	<key>minshu</key>
	<string>农历正月廿五为“填仓节”，粮商米贩祭“仓神”老鼠。清代潘荣升《帝京岁时纪胜》载：“当此新正节过，仓凛为虚，应复置而实之”，填仓节当晚不许点灯，当晚是老鼠嫁女。但老鼠嫁女日，各地并不划一，当天人们炒黄豆拌以红糖，撤于屋隅。陕西一带在屋角撒盐巴米粒，称“老鼠分钱”。 苏南则脱鞋当迎亲花轿，果皮当礼盒。 

老鼠嫁女也是年画和剪纸的重要题材。画面中花轿灯笼鼓乐队俨然人间嫁娶盛况，抬轿奏乐的是鼠，唯新娘和新郎的模样各地不同，鼠形人形甚至有繁衍之神。鲁迅在《狗猫鼠》中回忆，“正月十四的夜，是我不肯轻易便睡，等候它们的仪仗从床下出来的夜。”。

青海的“蒸瞎老鼠”，正月十四用面捏成十二只老鼠，不捏眼睛，用蒸笼蒸熟，待元宵节时摆上供桌，点灯烧香乞求老鼠勿伤庄稼。</string>
	<key>zongyunshi</key>
	<string>鼠年生人，为天贵星，性格非常聪明伶俐，凡事宜有心德，此人志愿颇高，利欲心很强，颇有成就，且有积蓄财富，一生多幸福，不过贵星太多，防欺人太甚，到时则会如命理所说：&quot;四贵克子孙&quot;，多与人和睦，到中年运到来风调雨顺，一切所谋遂意，到老年万事达到成功境界，此时得荣华富贵，若逢破星克命，虽富也不会吉也。
</string>
	<key>xingge</key>
	<string>鼠年出生的人， 直观力强、 环境适应力优越、 加上天性乐观，所以到处受人欢迎。 唯不善於表达才智， 定性不够， 也不适於担任团体领导人物。
</string>
	<key>mingli</key>
	<string>生年地支：子年生

五行：子属水

五常：水属智

吉祥方位：东南、东北方

吉祥颜色：蓝、金、绿；忌黄及啡色

幸运数字：二、三；大凶数字为五、九

幸运花：百合花,非洲紫罗兰,铃兰</string>
	<key>youdian</key>
	<string>警觉力强，反应快，有很强的环境适应力和应 变能力。 机智、点子多，善解人意。 有一副乐天命的模样。 多才多艺。 女性特别喜爱乾净，会将家务整理得有条不紊。 

伶俐乖巧，具有样样都学的灵巧和乐天性格。 个性比较活跃多变化且利欲心强。 富幻想力，识时务，很会利用机会，爽朗活泼，讨人喜爱。 

属鼠人感觉敏锐无所不能而且善於多角经营。 好奇心强对任何事情都想很快插上一手且能巧妙地处理。</string>
	<key>quedian</key>
	<string>缺乏胆识、做事魄力不够，缺适当指挥能力 ，不足以担任商业机构或其他团体之领导 ，欠威严。 有固执已见之性格，有见利妄行之缺点。 

有晚睡习惯，因为鼠是夜间活动的动物。 本性善良但态度有些不礼貌。 具自私的本位主义或桀傲不驯的个性。 善於投机取巧，爱挑剔，心胸不够远大。
 
以上各项缺点经修持是可以克服的。</string>
	<key>liunianyunshi</key>
	<string>生肖属鼠者在整年运势中好坏掺半，多变而不稳定。 容易出现意料之外的事情和突然发生的事情，需要保持处变不惊和稳定的情绪才能化险为夷。同时当心人际关系上失误，不能过分计较朋友间的得失。财运和事业运却很好，有名利双收的机遇。
</string>
	<key>shiye</key>
	<string>将星带权，前景乐观。从政、警、军及企业管理层负责人，有升职的机会。打工族也将加薪。需要注意的是不能这山高看那山高，失去现有的佳机而转错运程。
</string>
	<key>aiqing</key>
	<string>感情方面会出现放纵、消极的情绪，爱情方面也不理想。虽然与异性投缘，但容易惹上桃色新闻，也容易欲火焚身而做出有辱名声的行为，切收敛。

大吉婚配： 龙(辰)、猴(申)、牛(丑)

忌婚配： 马(午)、羊(未)、鸡(酉) 、兔(卯)</string>
	<key>caiyun</key>
	<string>财星高照，财源茂盛。很适合投资和创业。若与人合资，只要选对项目并保持自己的权利，会有很好的回报。
</string>
	<key>jiankang</key>
	<string>健康情况大有改进， 久病多能痊愈。 应小心饮食及留意肝脏之类的疾病。
</string>
	<key>zaoziyinyuan</key>
	<string>老鼠是十二生肖中，繁殖力最强的动物，所以排在第一，在山上为最多，过去把山鼠叫山禾，古时代人们喜爱打猎，如上山打山禾打山猪打野猴，古人上山必带有训练有素群犬随行，人类打猎 吃野味最先听说以吃鼠肉开始，因为那时代遍地 皆有山鼠洞，古人以草枝点火熏鼠洞，山禾被迫出洞，猎犬即予咬死，所以吃野味以鼠肉最易获 得，所以打猎的猎字系以犬与鼠组成『猎』字， 其道理在此。
</string>
</dict>
</plist>
