<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>duilian</key>
	<string>亥时看入户，猪岁喜盈门</string>
	<key>jieshao</key>
	<string>猪有“乌金”之名，父系氏族公社时期，猪是财富标志，临夏大何庄的墓葬有三十六块猪骨陪葬。豕是士庶以下平民的祭品，以豕为之，陈豕于室，合家而祀，即“家”字。

畜牧户供奉豕神、栏神。豕神本职厕神，南方农村厕所和猪圈多合二为一，故厕神多兼职圈神。厕神即紫姑神，或死于厕的西汉戚夫人。猪栏神是姜太公，封神时姜太公把为自己预留的东岳神让给黄飞虎，自己当猪栏神。浙西一带常在猪栏张贴黄纸，“姜太公在此、百无禁忌“。 

猪的肥头大耳是福气象征。老子姓李名耳字聃。《说文》云“聃，耳曼也”，段王裁注“耳曼者，耳如引之而大也”。乐府《长歌》：“仙人骑自窟，发短耳何长。”《三国演义》中刘备“两耳垂肩，双手过膝”。

俗信猪能预兆雨水。《诗·小雅》载“有豕白蹢，烝涉波矣，月离于毕，俾滂沱矣。”《投荒杂录》中说雷公“豕首鳞身“。《西游记》的猪八戒“原是天蓬水神”，“敕封元帅管天河，总督水兵称宪节”，天蓬本是道教紫微北极大帝的四将之一，充分体现猪崇拜和云雨之神的关系。</string>
	<key>minshu</key>
	<string>汉族凡重大祭祀必用猪祭品，并以猪头为重，俗称“猪头三牲” 。吴谷人《新年杂咏》：“杭俗，岁终祀神尚猪首……选皱纹如寿字者，谓之‘寿字猪头’ ”现今江浙一带在腊月仍储备腌制咸猪头为年货。清明节广东人爱用烤猪祭祖，俗语“太公分猪肉，人人有份”，形容祭后全家分食祭品。

陕西一带有送猪蹄的婚俗。结婚前天男方要送四斤猪肉、一对猪蹄，称“礼吊”，女方退回猪前蹄，婚后第二天，夫妻带双份挂面及猪后蹄回娘家，后蹄退回，俗称“蹄蹄来，蹄蹄去”。东北汉满族也有结婚“离娘肉”。西双版纳布朗族婚礼，男女两家用竹竿串起猪肉分送各家以示“骨肉亲”。

过去四川凡病灾不幸，家中长者设香案打母猪鬼，祭求驱邪，认为“杀死一母猪鬼，驱除一个邪”。祭时选黄道吉日，杀老母猪，内脏等摆在堂屋，祭完吃掉。</string>
	<key>zongyunshi</key>
	<string>亥年生人，其性耿直无弯曲，能向直中取，不可曲中求，心如洁白，无雅量，外观稳重，内心刚毅，好财，好批评他人是非，无忍耐性，依靠性强，不善交际。忠告：过地正直，非常讨厌拐弯抹角，所以在社会上容易与别人引起纠纷，也会被大家敬而远之。</string>
	<key>xingge</key>
	<string>生性正直，不矫揉造作。具有强烈的责任心， 待人热诚，重视友情且人缘极隹。 不善於自我表现、定性不够且自我要求过高。</string>
	<key>mingli</key>
	<string>生年地支：亥年生 

五行：亥属水 

五常：水属智 

吉祥方位：西南、东北方 

吉祥颜色：黄、灰、啡、金； 忌红、绿、蓝。 

幸运数字：二、八、五；凶数为三、一、 九。
 
幸运花：绣球花、猪笼草、太阳菊</string>
	<key>youdian</key>
	<string>真诚正直，凡事认真实行，人缘极佳。

性情率直，心地善良，个人主义至上，内心 刚毅慷慨大方，直接了当，正义感强烈，光明磊落，不拘小节，天真浪漫。

Ｏ型猪年生的人思想单纯天真，不会与人斤斤计较，肖猪的人绝对不是诈欺和出卖朋友的人，坦诚真意很能容忍。与人没有多大的竞争，除非在万不得已的情况下不会说谎，举止正当态度和善。

肖猪者智力丰富求知欲强，慷慨大方，直接 了当。

朋友友谊长久，不交则已，一但成为挚友便会对朋友照顾得无微不至。

肖猪人乐天主义，不需要过份操劳便可维持 生计。

女性非常着重家庭，有计划地安排家务。最能容忍别人讥笑，逆来顺受。</string>
	<key>quedian</key>
	<string>好睡重眠心地善良，对人没有猜疑而常受骗上当。

好批评不善交际。性情燥脾气粗暴而容易冲动，缺乏沟通协调精神。

女性好猜疑嫉妒气短浅见。

固执俗气，贪玩乐无进取心。

属猪人最大恶劣个性就是会存心捣蛋、恶作剧，决不会中途而废，一定会弄到别人一败涂地方肯罢休。 
 
以上各项缺点经修持是可以克服的。</string>
	<key>liunianyunshi</key>
	<string>生肖属猪者，遇到好运势。综观全年的运程，事半功倍，喜气洋洋今年的好运也体现了本身的智慧和能力的拓展，如果从事文化、艺术和科学方面的发展，恰是一个扬名立身的时光，切要利用时间，施展才华。顺境中勿忘乐善好施，修身积德。</string>
	<key>shiye</key>
	<string>正是宏图大展之际，大可利用此好时机来实践自己的愿望。无论是经商者还是打工族，精神饱满，自信十足并有贵人相助，工作中得心应手，唯一需要克服的是骄傲情绪。</string>
	<key>aiqing</key>
	<string>家庭生活平静，在爱情方面也非常的顺畅，已婚者和睦美满，未婚者有良缘出现。 

大吉婚配： 羊(未)、兔(卯) 　
　
忌婚配： 蛇(己)、猴(申)、虎(寅)</string>
	<key>caiyun</key>
	<string>财运理想，稳步增长。需要在事业上投资的同时，也要在财务管理上有所投入，提高管理水平。稳中求进，本年的财务看似平实无奇，实是大利可图。</string>
	<key>jiankang</key>
	<string>肖猪男士今年不宜饮酒过量，否则危害健康。肠胃及呼吸系统容易有问题，更防有顽疾病痛。</string>
	<key>zaoziyinyuan</key>
	<string>生肖属猪者非常重眠，只要一天睡眠充足便精力充沛，反之，睡眠不足则百病丛生，故肖猪的人健康最佳保健方法即是要有充足的睡眠。猪因无 体筋所以睡一边不必翻身，因此有人骂好睡懒觉的人，睡得条猪一样不会翻身。因猪的个性坦白、直率不善隐瞒，心里有话喜欢直接讲出来，故利用猪的个性来造『橥』字如三民主义公『橥』於世，揭『橥』於世等，公布之 意，即利用猪之坦诚直率个性来造这个『橥』字其道理在此。</string>
</dict>
</plist>
