<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>duilian</key>
	<string>九天揽月中华志，四海腾龙民族魂</string>
	<key>jieshao</key>
	<string>龙的来历说法颇多，以闻一多推断，蛇为图腾的氏族先后兼并许多别的图腾氏族，形成“以大蛇为主体，兼有马的头、鬣的尾，鹿的角，狗的爪，鱼的鳞和须混合而成的龙图腾”。

上古神话的龙并非神圣不可侵犯，女娲炼石补天，“杀黑龙以济冀州”。龙在汉朝后成为皇权象征。皇帝穿龙袍、坐龙椅、乘龙船、坐龙辇，皇帝死去叫龙驭宾天。清朝龙袍以九条金龙合“九五之尊”，北京故宫的龙图案数不胜数。百姓使用龙纹就会惨遭不测。

龙是行云布雨之神。《淮南子.说林训》称，“旱则修土龙”，《论衡·乱龙篇》说，“夫土虎不能致风，土龙安能致雨”。宋代以来几乎每个村庄都有龙王庙，每逢水旱灾害，人们都要向龙王献牲，让它控制雨水，祈祷风调雨顺。也有说龙不能自行决定降雨，《西游记》中泾河龙王因违反玉帝降雨旨意而被斩首。

龙象征出人头地，不同凡响。孔子称赞老子”龙乘风云而上九天也”；诸葛亮称为“卧龙先生”，蔡邕常醉卧街头而人称“醉龙”，家长望子成龙……

龙凤呈祥图案在唐代后广为流传，不但象征帝后权威，也象征夫妻的美满结合，还可象征精神与物质的阴阳两极调和。龙凤图案是中华民族最有代表性的形象符号。</string>
	<key>minshu</key>
	<string>舞龙又称龙灯会，有竹龙、布龙、纸龙、铁皮龙等品种。程自牧的《梦梁录》载，“元宵之夜……草缚成龙，用青幕遮草上，密制灯烛万盏，望之婉蜒如双龙之状。”重庆铜梁，舞龙队伍到民居前向主人问好，主人放鞭炮欢迎，以糖果答谢。佛山彩龙以竹篾、铁丝做骨架，头尾用纸糊，龙身蒙丝绸，以剪纸、绒球装饰。
 
二月二 “龙抬头”，民俗认为蛰伏的龙抬头，雨水渐多。明人沈榜的《宛署杂记》载，“乡民用灰自门外委蜿布入宅厨，旋绕水缸，呼为‘引龙回’。用面摊煎饼，熏床炕令百虫不生。”人们在这天理发，希望像龙那样精神；北方人家用彩纸、草秸穿成串悬于房梁，称“穿龙尾”；这天要吃面条、烙饼或水饺，分别象征龙须、龙鳞和龙耳。

龙舟竞渡相传是纪念屈原，但在鄞县出土的春秋青铜锁就刻有龙舟图案。赛龙舟在农历五月举办，以端午节最盛。唐代诗人刘禹锡在《竞渡曲》描绘：“扬桴击节雷阗阗，乱流齐进声轰然，蛟龙得雨耆鬣动”。

中华各地各民族，每月都有龙的节日，如正月的云南瑶族祭龙节，三月山东祭龙王，四月大同雷音寺会，五月的吴越分龙日，六月晒龙袍，七月的无锡龙娘庙会……</string>
	<key>zongyunshi</key>
	<string>辰年生人，其性刚毅活泼之风气，嫌因循傲慢尊大，致与长上之意见不和，善恶断分之癖，故缺圆满交际，且性急乏妨耐与宽大心，作事偏激的反响失败者多。对此欠与矫正修得精术，技艺的意志者，自然得良焉。龙年生人多推论、思索、奋斗、意志强。权威，女子者嫌孤独、自信心强，不容易与他人相处，失去幸福前程，对共同事业难得持久力，少年运为固执、失败，中处恐陷入不正事端惹祸。</string>
	<key>xingge</key>
	<string>具有崇高理想， 胆识过人且气质非凡。白天出生的肖龙者集中力强、斗志高昂。 夜晚出生者则为完美主义者，惜缺乏耐力毅力。肖龙者一般经不起重重考验，要想在事业与爱情上取得成功需有坚韧不拔的精神。</string>
	<key>mingli</key>
	<string>生年地支：辰年生 

五行：辰属土 

五常：土属信 

吉祥方位：西、西北及北方 

吉祥颜色：金、银、灰白，忌红、绿、紫及黑等色 

幸运数字：一、七、六，大凶之数为九、八、三 

幸运花：龙吐珠、采雀草</string>
	<key>youdian</key>
	<string>有强壮的体魄，精力充沛活力无穷朝气勃勃，有高尚的理想，富罗曼蒂克气氛，是爱面子 派头的人。

凡事不服输，做事过於自信，自我意识强烈，有远大目标，个性坦率，有领导才能有强运势。

为人坦诚绝少有卑鄙恶劣的虚伪行为，更不喜欢搬弄是非，不怕艰难，每件事都想做到尽善尽美。

是十足急进分子，很自大骄傲，自比人强的超俗观念。

女性豪爽热情慷慨，善解人意，是一般男性喜爱的对象。

不管什麽职业都厌恶受人指使，所以喜欢独自计划行事，男性有大男人主义。

属龙者象微权势，天之骄子得天独厚，他的 智慧过人胆识够，才气足，慷慨大方，神气活现气轩昂。</string>
	<key>quedian</key>
	<string>情绪不稳，富梦想，茫然不可捉摸，性格傲 慢缺乏宽大心胸。

无法抗拒温柔粉红陷阱，一生中有数不尽多采多姿罗曼史。 

极少真心去爱别人，因此在爱情上不会感到 失望，反而那些爱上他的人却饮尽其苦酒。

常无法忍受他人差劲的办事能力而批评他人，有完美主义心态。

才华出众不免自负，好大喜功有时经不起挫 折和考验，一失败即落慌而逃，缺乏坚忍不拨的个性。</string>
	<key>liunianyunshi</key>
	<string>传统的说法是生肖属龙者天生强运，但是在今年就很的例外，遇到了“本命年”，所 以要非常谨慎，要有应变的准备，特别是对自己心态的把握，心平气和地面对一切。 今年的运势一波三折，反复多变，对于自己的工作、生意等需要脚踏实地，步步为营，也不忘记在农历正月中旬供奉太岁星君，方求一年之平安。</string>
	<key>shiye</key>
	<string>维持以往的工作态度，认真负责。每一笔交易的细节、过程以及合同文本都需要静心的斟酌，尽量回避新项目的投入。</string>
	<key>aiqing</key>
	<string>在爱情方面似乎比其他方面来得顺畅，同时也是单身者谈婚论嫁的好时机。已婚者要防止婚外恋情，避免不必要的烦恼。

大吉婚配： 牛(丑)，鸡(酉)
 　　
忌婚配： 虎(寅)，猴(申)，猪(亥)</string>
	<key>caiyun</key>
	<string>财运很一般，非但不能与去年相比，处理不当还会影响到生活，所以要有备无患。财务支出上有个妥善安排，对待商机要量力而行，大的投资项目特别要慎重。</string>
	<key>jiankang</key>
	<string>切勿工作过度， 影响身体健康。 素有肠胃和消化系统毛病的肖龙者需更加注意饮食。</string>
	<key>zaoziyinyuan</key>
	<string>古时代，龙象徵为皇帝高高在上，人人都要听他的意旨，神龙是千变万化的，但是龙欠耳朵，属龙的人很主观，什麽事都以自已判断为依据，别人给他的意见虽然听起来唯唯诺诺，但是最後都依自已主见行事，所以属龙的人有耳也等於无耳(不易接受他人意见)。故造字时 依龙的个性在龙下加耳还是听不见就是聋」 ，道理在此。</string>
</dict>
</plist>
