<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>duilian</key>
	<string>鸡声窗前月，人笑福里春</string>
	<key>jieshao</key>
	<string>韩诗外传》概括鸡的“五德”，“头戴冠，文也；足搏距，武也；见敌敢干，勇也；见食相呼，义也；守夜不失时，信也”。故鸡有德禽的雅号。

玉兔与月亮，金乌与太阳常相提并论。《淮南子· 精神》说“日中有蹬乌”，即三足乌：日乌、金乌、金鸦。明代杨慎的《艺林伐山》说“日中有金鸡”，日与月，太阳属东方酉鸡却位于西；月亮属西方卯兔却居于东，原因是“日月阴阳互藏其宅也”。李白的《梦游天姥吟留别》中吟“半壁见海日，空中闻天鸡。”

古代计时简陋，雄鸡司晨成日出而作的号令。《诗经》中，“女曰鸡鸣，士曰昧旦“，还有以”鸡既鸣矣，朝既盈矣“催促国君上朝。孟尝君被困函谷关，门客学鸡鸣骗开关门。东晋祖逖“中夜闻荒鸡鸣，曰‘此非恶声也’，因起舞庭中”，发愤报国。

凤凰是雉鸡美化神化而来。《山海经》记述“有鸟焉，其状如鸡，五采而文，名曰凤皇“。《桂海禽志》载“乌凤”，“颈毛类雄鸡”。俗语常把鸡和凤凰联系一起，如“凤凰落架不如鸡”。</string>
	<key>minshu</key>
	<string>雄鸡勇斗，古人想象其有辟邪神力。清初陈昊子《花镜》：“雄鸡能角胜，目能辟邪”。南朝宗慎《荆楚岁时记》载： “正月一日……贴画鸡户上，悬苇索于其上，插桃符其傍，百鬼畏之”。正月初一不杀鸡，这天是鸡的生日。至今成都一带春节期间仍在门楣贴鸡画。

山东一带娶亲时，女家选一男孩抱只母鸡随花轿送亲，与“吉”谐音。旧时还有“长命鸡”，男女各准备公鸡母鸡，婚礼当天把两鸡一起拴在桌腿，不时打公鸡，象征妻子制服丈夫，两鸡不得宰杀。

土家族称踢毽为“踢鸡” ，男女相聚踢“鸡”，接到“鸡”就可用草去追打任何人，青年借此追打意中人。大理白族流行“鸡米礼”，单礼为一只公鸡和一坛米酒；双礼为两只大公鸡， 一坛米酒一坛谷种，在嫡亲或姻亲中互送。

古代在结拜兄弟需宰雄鸡，在酒里滴鸡血，对天发誓，将血酒饮尽。香港一带也有以斩鸡头为誓信的仪式。
</string>
	<key>zongyunshi</key>
	<string>酉年生人，其性诚实多智慧兼伶俐，能与人交际，望得贵人提拔，抱大志多计谋，终遂捷径光明，且有带快热冷的心理，致自抱自弃的缺点，对自己不利的时多与计较，致见少利而生大财之嫌。 忠告：属鸡的人，远方男性女性都容易受异性引诱，恋爱的次数相当多，而且每一次都会付出真情，自尊心高，讨厌依赖别人，个性直率，所以并不是每种类型的人都合适你，因此在选择伴侣时，一定要三思而后行。 特性：保守、热心、漂亮、坦诚、幽默。 缺点：傲慢、自大、盲目崇拜。</string>
	<key>xingge</key>
	<string>鸡年出生的人，坦白直率，想到什麽便说什麽。自视甚高，不喜欢他人在背後指责，对他人的要求也一样严格，较不易变通。严守纪律，色彩感觉敏锐。</string>
	<key>mingli</key>
	<string>生年地支：酉年生 

五行：酉属金 

五常：金属义 

吉祥方位：西、西南、东北方 

吉祥颜色：金、啡、啡黄、黄；忌绿、红、蓝、灰。 

幸运数字：七、五、八；凶数为三、九、一。
 
幸运花：剑兰、凤仙花、鸡冠花</string>
	<key>youdian</key>
	<string>做事很稳定，有现代新潮派的大志向，脑筋 转动很快。性急，喜欢打扮自己，善於交际，有贵人相助，有心和毅力如鸡司晨一样有信心。

交友广阔善於言辞，善於辩论又具说服力。

对色彩感觉有独到之处。

想到什麽便说什麽毫不保留，常与权威抗衡 刚愎自信力很强，喜爱豪华气派。

爱好别人恭维，同时喜欢赞美别人，看不起 那些不修边幅的人。

坦白活跃，勇敢风趣，机智多谋，专心一意，勤奋热情慷慨。

个性好胜专注，凡事不愿落人之後，头脑反 应快。

深思熟虑勤奋能干，富责任感严守纪律，讨厌游手好闲的人。</string>
	<key>quedian</key>
	<string>具有忽冷忽热的心理，处事往往纸上谈兵很少付诸行动。

心理一有不满马上反应毫不隐瞒。

一切以自我利益为中心，处事乐观但刻薄短视，常自以为是喜爱自吹自擂。

说话不保留，易忽视旁人的感受与尊严。

出言欠谨慎为社交上最大阻力。

不会接纳别人的劝告却会名正言顺地去教训别人。

不喜欢正式传统的装扮，而偏爱奇特的式样 喜欢唠叨，心胸狭窄，傲慢自大，性情急躁，爱慕虚荣。
 
以上各项缺点经修持是可以克服的。</string>
	<key>liunianyunshi</key>
	<string>生肖属鸡者赶上了大运年，可谓吉星高照，行事顺利，财运稳定。遇到好运年，更要关注机遇的把握，同时也要不失时机的主动出击，切不能因为小事情耽误大事业，也不能因为小事情分散自己的精力财力，时刻提醒自己，将关注的焦点集中在事业之中。远离偏门邪道。</string>
	<key>shiye</key>
	<string>集中精力，全力投入，事业会因为您的努力卓然增色，事业的扩展让您更上一层。年轻者若想开创自己的事业，可以在今年开始，会有一个很好的开端。</string>
	<key>aiqing</key>
	<string>回避家庭内部可能出现的口角。恋爱中人不能因为自己工作的繁忙忽视了对情侣的联系和关心。未婚者的成婚率高，需要自己的珍惜和重视。 

大喜婚配： 牛(丑)、龙(辰)、蛇(己)

忌婚配： 鼠(子)、马(午)、兔(卯)</string>
	<key>caiyun</key>
	<string>财运好使得自己的收入突破了过去的水平，在喜悦中要注意财力的积累，对于高投资生意和股票买卖必须把握分寸，不宜全力投入。经济往来中也要注意守法。</string>
	<key>jiankang</key>
	<string>所有肖鸡者均应小心交通意外， 尤其是1981年出生者。 此外亦应小心水险及火灾。</string>
	<key>zaoziyinyuan</key>
	<string>『鸡』上天给它的任务是定时叫人起床，所以有鸡司晨之说，故属鸡的人想要成功必定要有定时与毅力起床的习惯才会成功。纵观世间各行业中以雕刻业和鸡的习惯最相近，想要雕刻成功必要定时做工，以毅力来完成雕刻品，所以造字时『 雕』字在佳旁放个『周』字表示其毅力和一定时间才会成功，所以『雕』字从鸡，其道理在此。</string>
</dict>
</plist>
