<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>duilian</key>
	<string>花果飘香美哉乐土，猴年增色换了人间</string>
	<key>jieshao</key>
	<string>“猴为人祖”的传说颇多。《山海经》载，“其状如禺而文臂，豹虎而善投，名曰举父“，可见夸父（即举父）形象实乃猴子。成都地区神话认为盘古开天地，猴群中的伏羲女娲繁衍出人类。古吐蕃在《西藏王统记》中载其先祖系狲猴所变。羌族神话《木姐珠和冉必娃》，冉必娃用火烧掉全身猴毛成了美男子。

《西游记》的齐天大圣孙悟空是猴形象的光辉代表。孙悟空的原型，有说取自印度神猴哈奴曼；也认为是神话形象无支祁。宋代《太平广记》描绘无支祁，”善应对语言……形若猿猴……金目雪牙，颈伸百尺，力逾九象，搏击腾蹲疾奔“，与孙悟空的武艺本领相似。孙悟空被封为弼马温，源于古人认为猴子能”避马瘟“，在马厩里养猴能及时发现病马扩散，陕西渭南很多拴马石桩上也雕石猴。

猴与”侯“同音，猴子骑马寓意马上封侯；猴向枫树上挂印寓意封侯挂印；一只猴子骑在另一只猴子背上寓意辈辈封侯。猴爱吃桃，桃子象征长寿，民间剪纸也常见“猴桃瑞寿”图案，取长寿之意。</string>
	<key>minshu</key>
	<string>北京白云观有石猴分散三处，均为浮雕，找齐并非易事，所谓“三猴不见面”。游客到观要觅猴与摸猴，据说逐一摸过会得福。

耍猴表演可溯至东汉，《西京赋》绘百戏，”猿狖超而高援“。唐昭宗酷爱猴戏，”赐以排袍，号孙供奉“。宋后猴戏在市井大行。明宰相胡惟庸驯养猴子十余只供驱使、歌舞。《清稗类钞》载凤阳艺人韩七，全用猴子串演戏剧，从敲锣打鼓到生旦净末丑都由猴子充当。现代动物园和马戏团也有猴表演踏单车、跳火圈、走钢丝、翻筋斗……

戏曲武生演孙悟空，在脸谱、扮相、动作等自成一派，也称为猴戏，代表人郝振基、杨小楼、盖叫天等。

相传华佗发明“五禽戏”，模仿动物动作以舒筋通络，其中之一便是猿猴。中国传统武术中有“猴拳”，模仿猴子轻灵敏捷的动作。</string>
	<key>zongyunshi</key>
	<string>申年生人，其性多活泼、好动，伶俐，多才且灵巧，有竞争而敏捷的手腕，又有侠义的心肠，多为他人的事，放弃自己的事务，平常好说大话，不合自己的意见都即时反对且急癖，又带有虚言，诈伪的行为终为刑罚之苦的人有之，对此缺点矫正方可以成功发达。</string>
	<key>xingge</key>
	<string>肖猴者，脑筋转动快、机智过人。问题解决能力隹，自我显示欲强。领导能力强，且拥有多方面的才能。但肖猴者生性自傲自满，轻视一切规律正道，容易造成不必要的损失。 </string>
	<key>mingli</key>
	<string>生年地支：申年生 

五行：土属信 

五常：金属义 

吉祥方位：北、西北、及西方 

吉祥颜色：白、金、蓝色；忌红、黑、灰、深啡色。 

幸运数字：一、八、七；凶数为九、二、五。
 
幸运花：菊花、葱花</string>
	<key>youdian</key>
	<string>才智高且具优秀的头脑，行动活泼好动且伶俐。

好竞争，手腕敏捷有侠义心情，反应快，能见机行事。

社交手腕高明善解人意，很快与人打成一片，但不喜欢被人控制，喜爱追求新鲜事务。

聪明、机智、创新有才华，能言善道，有极强的自我表现欲。

非常适合演艺和推销工作。

猴年生的男性精力充沛身体健壮，常表现达观机智勇敢，对环境变化有很强的适应能力生性顽强不服输，拥有多项才能而能居主导地位。

求知欲很强，博览群书，记忆力惊人，头脑灵活很有创造力。

善於把握机会扩大发展，造成时势，成为大企业家。</string>
	<key>quedian</key>
	<string>平常爱说大话，有时有反对人之意见虚语或伪诈行为。

忽略必需遵守社会全体规范，有点不脚踏实地。

生性爱玩缺乏耐心毅力，眼光看得不远，犯有今朝有酒今朝醉的毛病。

依赖心很重，好夸张和爱慕虚荣且喜新厌旧，不管做任何事都不会持续太久。

狡滑伪善，无耐心不忠实狂妄自大，过份乐观，自负心强喜投机。

为了达成目的喜爱说谎骗人，尽管才智出众 、八面玲珑，却不能以德服人，是典型的机会主义者。

猴年生人无论说话做事一定要诚实踏实，否则会一塌糊涂。

有自以为是急就章的毛病，所以常导致错误失败。</string>
	<key>liunianyunshi</key>
	<string>今年的流年运势之旺盛，是近六年来最好的一年。今年中无论是事业、家庭以及财运方面都有机会脱颖而出，即使与到困难，也会获得贵人之助。若是公务员，还有晋升加薪的机会。需要处理好与周围同事、朋友、亲属的人际关系，也要克服懒散的习惯，提高工作效率。</string>
	<key>shiye</key>
	<string>事业上非常稳定和顺利，同时也是创业或开发新业务的好机遇。规划要仔细，要合乎现实，加上耐力、干劲和亲力亲为必定大有成效。打工族也有加薪的机会。</string>
	<key>aiqing</key>
	<string>对长辈的感情特别浓烈，但是夫妻间的容易关系紧张或是产生风波。已婚的容易出现婚外恋情，未婚者则步入情绪化，时好时差，时晴时阴，若谈婚论嫁会成功。 

大吉婚配： 鼠(子) 、龙(辰) 　　

忌婚配： 虎(寅) 、猪(亥)、 蛇(己)</string>
	<key>caiyun</key>
	<string>财运旺盛，实实在在而看得见摸得到，个人的收入也因此大幅度的增加。需要当心的是因为财运带来的烦恼，同时要及时识别经济来往中的圈套。</string>
	<key>jiankang</key>
	<string>小心注意囗腔卫生、 牙齿及呼吸系统之毛病。肖猴者容易情绪激动而感染小毛病，需放松精神减轻压力。</string>
	<key>zaoziyinyuan</key>
	<string>猴是无臀的，所以坐不住，善於变动，在社会上经常换工作的以属猴的最多，因为猴子有善变多计谋狡滑伪善的做性，与古时代诸侯性质很相近，古时候诸们各据一方，个个多计谋善变，狡滑欺诈的事各尽己能，所以当初形容各据一方的霸主如一群猴子的王一样，善指挥应变，因而诸侯 的『候』字是将猴的犬去除，代表人而成『候』，其道理在此。</string>
</dict>
</plist>
