<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>duilian</key>
	<string>鸡鸣知日上，犬吠报春来</string>
	<key>jieshao</key>
	<string>《汉书》载，帝高辛氏有狗名盘瓠，取犬戎吴将军首级被赐以少女，“随盘瓠升南山产子，男女十二，后繁盛也“。《搜神记》扩充说盘瓠是皇后耳朵跳出的金虫变成。西南的苗、畲、瑶、黎、侗、壮、佤等民族，也传说盘瓠是族群始祖。少数民族还有狗取谷种的传说，哈尼族认为，天神女儿把五谷带到人间，被贬成狗。

古人认为日月食是天狗所吞。宁波有谚“天狗吃月亮，地下放炮仗”，怀化人说“天狗吃月，脸盆子敲缺”，试图以声响吓退天狗。天狗还导致妇女不育。妇女供奉“送子张仙”，他手执弹弓仰天瞄准，据说是射杀天狗。

狗是司风之神。甲骨文载“于帝史风二犬”；《山海经》有黑白犬祭祀风神。古人认为狗能止风，《风俗通义》载，“戌之神为风伯，故以丙戌日祭于西北”。狗还能扬风，《墨子》载 “烧黑狗皮扬灰风即起”。

狗的忠诚，传说和现实比比皆是。《述异记》载，魏晋陆机的“黄耳”，为主人送信，劳累而亡。《搜神记》中的黑龙犬，在火中用水沾湿醉酒的主人使其幸存。</string>
	<key>minshu</key>
	<string>正月十六是瑶族“盘王节”。这一天以祭奠瑶族先祖盘瓠为主：跳祭祀舞蹈盘王舞； 举行还盘王愿的祭仪，宰牛祭盘王； 颂唱“盘王大歌” 。至今瑶族人上衣前短后长，女子腰带故意后坠一截，意在模仿狗尾巴。 

布依族过年有“吃新节”，晚上设宴祭祖后祭犬，之后才入桌就餐。祭犬由年长者将“新粮饭”与三块猪肉放入狗食盆，边看狗吃食边念祭词，意在感恩狗为人类带来谷种。


雷州半岛到处都有石狗蹲立，现存古石狗近10000只，人称“雷州兵马俑” 。石狗源于秦朝汉越融合的图腾崇拜，现今雷州人逢年过节，初一十五或红白事均拜奉，祈福、祈雨、送子、忏悔等。雷州人还爱吃狗肉，俗语“狗肉滚三滚， 神仙站不稳”。石狗食狗完美交融。

广东地区最早把狗叫旺财，源于其叫声“旺旺”。狗年送礼都讨“口彩”，礼品都沾“旺”字。</string>
	<key>zongyunshi</key>
	<string>戌年出生人，其性刚直，重义理与信义励业，此人有胆力、奋斗、活动性、聪明、直感性、机敏、大望、热情、费金钱，有稍暴燥性，女子者，富有引人之魅力，易多变自己必理，嫌虚荣、短气、苦劳性、不坚实、忍耐性，对此矫正自然获得良运遁来。</string>
	<key>xingge</key>
	<string>有敏锐的观察力，注重道义人情。遇突发事件能处变不惊，沉着应对。肖狗者生性慷慨，无论贫富，都不重视物质上的享受，且能与朋友保持长久的友谊。缺点是不善辞令，做事半途往往容易中途而废。</string>
	<key>mingli</key>
	<string>生年地支：戌年生
 
五行：戌属土 

五常：土属信 

吉祥方位：东、东南及南方 

吉祥颜色：绿、红、紫色；忌蓝、白、金色 

幸运数字：三、四、九；凶数为一、七、六 

幸运花：玫瑰花、文心兰、惠兰</string>
	<key>youdian</key>
	<string>富於正义感讲义气，重人情道义，做事全力 以赴。

豪爽勇敢，见义勇为，谨慎小心，守本份谦虚、忠心。

生性纯朴正直，诚实友善，为人忠实可靠。

富同情心，个性坦白无心机。直觉锐利，为人忠诚，颇爱主持公道，很受人尊敬。

个性勤勉敬业，具有大志大望。

行动敏捷头脑聪明反应快。

感情上，爱上对方不会轻易变心，宁可自己吃亏也不愿给人添麻烦，不会为自己利益做出违背道义的事。

明办是非，脑筋灵活且有领导能力，心地善良，奉献作为，博得人望。事物是正确的话会极端固执，毫不忍让，一生忠诚尽责。

心性灵巧待人和颜悦色，风趣诙谐，好打抱不平。</string>
	<key>quedian</key>
	<string>感情起伏大，易燥易怒。

依赖心强，杞人忧天，倔强逞勇。

重理论而在现实中缺乏行动力及判断力，不可独断独行否则易遭极大的挫折。

喜爱批评别人追根究底，善猜疑喜挑剔。

有时会莫名的自我封闭或沉默不语。 
 
以上各项缺点经修持是可以克服的。</string>
	<key>liunianyunshi</key>
	<string>运程不乐观，首先就需要平静心态，可能会出现颇多的挫折、阻碍，需要有忍辱负重的心理准备，为自己营造一个冷静的思考环境，在逆境中转运，化不顺为坦途。</string>
	<key>shiye</key>
	<string>事业上力求谨慎和保守，若能向外发展，可以在上半年一试。打工族若想跳槽换工作，容易找到称心的工作，同时也带来转运。切要注意的是，在外出或工作转变没有成功之前，不能走漏消息，造成好事多磨。</string>
	<key>aiqing</key>
	<string>若有婚外恋情者，非常容易曝光而引发丑闻，切要注意防范了。夫妻之间可能会出现疑幻疑真，镜花水月难以琢磨，需要多一点情趣和关心，解除疑云。 

大吉婚配： 虎(寅)、兔(卯)、马(午)

忌婚配： 牛(丑)、龙(辰)、羊(未)、鸡(酉) </string>
	<key>caiyun</key>
	<string>财运不理想，可能会碰到收入减少的局面。若有进账，也难积累。秉承随缘的心态，不作无效的强求，回避大金额的投资项目，以免泥足深陷。</string>
	<key>jiankang</key>
	<string>肖狗朋友今年会经常感到疲累，多些休息及运动对你有帮助。防有呼吸系统毛病及手足头面损伤，应注意身体及小心外游时发生意外。</string>
	<key>zaoziyinyuan</key>
	<string>狗是人类最亲密最喜爱的动物，更是人类最忠实的朋友，上天给它任务是对人忠实摇尾巴，狗绝不会嫌主人穷而易主，这是它忠贞不二久不变 的天性，所以在报纸上常常可以看到灵犬救主的故事，所以造字时特别讲求狗的忠性，凡是对人不忠不实者必遭人与狗的抗议，所以凡遭忠犬抗 议的人，一定要关起来，故此『狱』字左右以犬抗议而组成，其道理在此。</string>
</dict>
</plist>
