<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shijian</key>
	<string>12月22日～1月19日</string>
	<key>laili</key>
	<string>生于每年12月22日至1月19日，土星是西洋占星术中唯一有光环的天体，绕黄道一周约需三十年，代表人生的起落，责任与负担、磨练与成长的方向。它是传统西洋占星术中变化最少的天体，所以也是顽固与耐性的象征，土星支配个人的现实生活。

通常都很健壮，有过人的耐力、意志坚定、有时间观念、有责任感、重视权威和名声，对领导统御很有一套，自成一格，另外组织能力也不错。和其他土象星座一样，是属于较内向，略带忧郁、、孤独、保守、也欠缺幽默感，常会装出高高在上或是严厉的姿态以掩饰自己内在的脆弱。

通常他们也绝少是天才型，但是却心怀大志，经过重重的历练，到中年期才会渐渐拥有声名和成功。一方面是因为他们有安定的向上心和坚强的毅力，加上擅长知识和经验的累积，如此才一点一滴的达成目标的。

虽然有时为了这成功的目标，也会用一些残忍无情的策略，但摩羯座还算是有正义感的。他们擅于外交、好动、活力充沛、目标确定；重视现实利益及物质保障，具有宗教或神秘学上的理解能力及人文科学的逻辑概念，是属于大器晚成的类型。

摩羯座的人往往注重自身检查，对自己要求也特别严格，却常常会因为疏漏或粗心犯些很不必要的错误。他们看上去虽然保守，但是其思想却很新潮的，他们喜欢接触与众不同的周边新奇事物，却往往不受外界感染，总是能保持自己独有的特性。他们能在新的事物中去分析，并把分析的结果融会成一整套，以便知道怎么去应对他们。身为摩羯座的他们具有强烈的社会责任感，他会认为世界上的一切不公正事情都有他的一部分原因，其表现总是一副忧心忡忡的样子。</string>
	<key>shuxing</key>
	<string>阴性、土象星座

守护行星：土星

星座花：梅花、山茶花

花语：坚毅、高风亮节、可恶、忍让

赫菲斯托斯——火与铁匠之神

摩羯座额头上的皱纹、蹙紧的浓眉及锐利的眼神，使他看来严肃而略显阴沉，令人有难以亲近的印象。</string>
	<key>daibiao</key>
	<string>人生阶段：老年

人体部位：骨头 关节 膝盖

性格特征：意志坚强 专注力高 勇敢</string>
	<key>chuanshuo</key>
	<string>摩蝎座严谨而内敛,就像它的名字一样.

在希腊神话中,牧神掌管宙斯的牛羊,他的名字叫潘恩.

潘恩长的十分丑陋,几乎可以用狰狞来形容.头上生了两只角而下半身该是脚的部分却是一只羊蹄.这样丑陋的外表,让牧神潘恩十分难堪与自卑,不能随着众神歌唱.谁能了解丑陋的外表下,也有一颗热情奔放的心?日日夜夜,他只能借着吹萧来殊解心中的悲苦.

一日,众神们聚在一起开怀畅饮,放声欢笑,天神宙斯知道潘恩萧吹得好,便召唤他来为众神们演奏助兴.当凄美的萧声淙淙地流泻在森林,原野之中,众神和妖精们正随着歌声如痴如醉的时候,森林的另一头,一只多头的百眼兽正呼天啸地,排山倒海而来,仙子们吓的花容失色,纷纷抛下手中的乐器化成一只只蝴蝶翩翩而去.而众神们也顾不得手中斟满的美酒,有的变成了一只鸟振翅而去,有的干脆化成一道轻烟,消失的无影无踪了.

而牧神潘恩,看着众神们都逃的逃,溜的溜,自己却还在为&quot;变成什么逃走好呢?&quot;犹豫不决,最后他决定变成一条鱼,便纵身跳如一条溪中.但是,他选则这条溪太浅了,无法完全容纳他庞大的身体,所以下半身变成了鱼尾而上半身仍是一个山羊头.

摩蝎座中山羊下半身的鱼尾便象征了其害羞的特质.</string>
	<key>youdian</key>
	<string>保守、谨慎、实际、有责任感、可靠，机智、有主见、尊敬权威、看重自己，谨慎、有抱负、有耐心、守纪律。</string>
	<key>quedian</key>
	<string>悲观、善变、外表冷漠严肃、不易亲近、墨守成规、吝啬。</string>
	<key>xingge</key>
	<string>外表是半身为羊半身为鱼的摩羯座，诞生在一年四季最为酷寒的季节，故展现出其独立的精神和阴柔的个性。

摩羯座人勤勉而踏实，一步一步稳扎稳打，任何事都讲求公平合理，他们生性保守，对年轻一辈所崇尚的自由开放较难以同。一般说来摩羯座的人具有传统而守旧的观念。他们有着强烈的企图心，会将全部精力耗费在追求成功的事业与社会地位，时时鞭策着自己或亲人，但常因对凡事都过於认真，而忽略了生活的情趣。他们对事物往往有自己的看法，且常坚持己见，不愿妥协，有时甚至自以为是到顽固的地步，让人有不通情理的印象，故易使人产生反感，假如能多设身处地为别人着想，会更受欢迎。

摩羯座生性谨慎，可靠，有耐心，他们或许行动不甚敏捷，但是如同龟兔赛跑中的乌龟一般，持之以恒的个性使他们在逆境中能发挥坚忍卓绝的精神，而获得最後的胜利。他们脑筋深沈、野心勃勃，组织能力甚佳，是天生的领导人才，喜欢控制别人。</string>
	<key>fuhao</key>
	<string>羯座符号象征着坚韧。

符号能量：放松。摩羯座总是有登峰的欲求，不要太过紧张，放松平静下来可能效果更理想。

摩羯座的星座符号像是一笔划出山羊外形特征的一种古代象形文字，骨瘦如柴的身躯，却有攀登绝壁坚强的意志忍耐力，代表认真踏实的个性，而符号中有着山羊的头和胡须，其实摩羯座代表着就是山羊，而山羊本来就是一种个性非常强韧，且刻苦耐劳的动物。</string>
	<key>xinzhi</key>
	<string>摩羯座的人总是知道自己在做什麽，他喜欢控制全局，而不想作被人操纵的棋子，不过似乎很少看到成为领袖的山羊（摩羯座又名山羊座），因为他们并非为权力欲而争权力，权力只是追求理想的工具，虽然摩羯确实具有领袖的实力与气度，但又厌恶身陷权力斗争的漩涡中。追求高难度的理想，使得摩羯座人斗志昂扬，纵然因而搞得头破血流、伤痕累累，也绝不放弃。摩羯喜欢占住首位，假如不幸有人跑在前面，他们一定会竭尽全力去超越，他们不是那麽想做「第一」，只是受不了有人挡住前面的视野。

摩羯座的思想条理分明，他们擅长精密而繁琐的思考模式，并且具有付诸实现的耐心与能力，一旦开始行动，就没有转圜的馀地。摩羯座的人充满野心、城府颇深，他们在判断事情和从事研究工作时，很少作立即的情绪性的反应或判断，通常只做有把握的事，没有十成胜算，至少也要有八成把握才肯放手一搏，他们总是仔细考虑、反覆推敲之後才会作下结论，所以如果你和摩羯有赌局时，只要看到他下大赌注，那你最好快点认输，因为他要不是百分之百的赢家，就是要把你搞得两败俱伤。

「严以律己」是摩羯座的特点，最怕别人认为他们不完美，所以总是严厉地批评自己，对自己的过失一点也不宽贷，因为情绪总是在紧绷状态，所以脾气常会失去控制，容易在小事上大发脾气。摩羯座的人多半渴望被了解，但因有极度的不安全感，对别人不信任，所以很少有知心朋友，生活十分孤单，所以，你常可见摩羯人摆出孤寂、冷漠的脸孔。他们生性忧郁，是所有星座中忧郁气质最浓厚的一个。如果水星在天蝎座的位置，他的思想会更趋深沉、细腻；水星在水瓶座时，外表则比较开朗，思想也较开明。

摩羯座的人天性都略带羞怯，通常他们喜欢默默观察别人的表现来决定接近的距离远近。如果你的表现符合他们的标准，和他们的期望相符合，他就会往你靠近一点，但是仍然处於警戒状态；假若你的言谈思考让他觉得和你是同一阵线，就有可能和你来往；但只有当他开始把心中真正的感觉、不为人知的过去(例如恋情的起伏)告诉你时，才算把你列入正式朋友的名单。</string>
	<key>aiqing</key>
	<string>摩羯座的人常会有人际关系的困扰，尤其难以和别人建立起亲密的关系。他之所以不善沟通，一方面可能因为害羞，另一方面则是他过分执着於事业上的成就。不管在何种情况下，他常有被孤立的感觉。假如太阳的位置在摩羯座，上述弱点的减弱或加强，就视金星的位置而决定。

他们会压抑自己的情感与性欲，如果金星位在摩羯或处女座，则这种压抑的情形会更严重。但是要知道，摩羯其实是个双面人，外表冷漠，内心却是火热无比；看来现实，但心底却渴求浪漫；他们不喜欢失去控制权，但是超越其控制能力的异性，对他们却有莫大的吸引力。

摩羯人不管男女都相当重视社会地位，但是考虑的方向略有不同，男摩羯在意的是女方家族的社会地位是否有助於他的事业；女摩羯在意的是男方本身的社会地位是否有助於装点她的门面，他们需要藉物质地位及财富以获取情感保障。摩羯座个性保守而传统，认为恋爱到最後就是为了结婚，当他们一旦定下心来，就能海枯石烂，永世不渝。</string>
	<key>shiye</key>
	<string>摩羯座的人不会冀求「出奇致富」或「一步登天」，他们总是埋头苦干，按部就班朝着既定目标前进。安全感和稳定的收入，是此星座的人选择职业时首先考虑到的条件。

他们在商界上可望成功，摩羯座所拥有的优点，可使他们一旦下定决心，就志在必得。有商业头脑，对生意有关的各方面都很有兴趣，因为他们具有优秀的组织能力，所以适合任何和管理有关的工作。

通常具有音乐方面的特长，尤其是金星的位置在金牛座或天秤座时，更有成为音乐家的可能。</string>
	<key>tixian</key>
	<string>喜欢音乐与艺术，有试验及科学头脑，对神秘科学极有兴趣。他们很容易养成习惯，可以从琐碎的事情中找到乐趣，并能乐此不疲。</string>
	<key>fumu</key>
	<string>摩羯座的父母「望子成龙」心理特别殷切，他们希望自己的子女能够出人头地，如果孩子个性消极，对他们会造成相当大的困扰。

因为他们的控制欲，常会在不知不觉中把孩子操纵於自己的掌心，因而应该随时提醒自己保持幽默感，冲淡这种紧张的关系，且要不时给孩子鼓励和打气，并且设法为子女生活带来情趣，否则很容易与孩子产生隔阂。此星座的父亲常会忙於事业，而将照管孩子的责任交给母亲；此星座的母亲在子女年幼时，最好当个安分的家庭主妇，因为难以亲近的外表，很容易让孩子有缺乏温情的不满。</string>
	<key>zinv</key>
	<string>摩羯座的孩子虽然擅长运动，却因为其孤僻性格与不适应群体生活而很少加入运动团体。摩羯座小孩一般而言反应较为迟钝，父母应该不时给予鼓励，才能让他们较为开放而不致太过孤立。</string>
	<key>xinyun</key>
	<string>幸运日：礼拜六

幸运宝石：截子玛瑙

幸运色：暗绿色

幸运数字：3,7

幸运地点：远离嘈杂和刺激的隐蔽地点</string>
</dict>
</plist>
