<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shijian</key>
	<string>1月20日～2月18日</string>
	<key>laili</key>
	<string>生于每年1月20日至2月18日，土星是西洋占星术中唯一有光环的天体，绕黄道一周约需三十年，代表人生的起落，责任与负担、磨练与成长的方向。它是传统西洋占星术中变化最少的天体，所以也是顽固与耐性的象征，土星支配个人的现实生活。守护星是天王星。

水瓶的性格其实是12个星座中最难测的一个，这样说的原因是因为连水瓶自己都经常不明白自己。崇尚自由的水瓶座人，外表上呈现冷漠与热情的交变型态。你不会觉得他是个冷漠的人，也不会认定他是个热情的人，总是感到他的天真与世故不断地交错运作。这完全肇因于他的保守性格。你很不容易见到一只瓶子把自己摔碎，不过一旦你见到了，要相信，他是真的想一碎了之。别企图拼凑他，只能期待碎瓶片浴火重生。以保守性格追求自由、开放与前进，陷水瓶座于温情主义的泥沼中，易如反掌。但也因着内、外的背道而驰，使得他对自我和世界的反省能力，与日俱增。</string>
	<key>shuxing</key>
	<string>水瓶座属性阳性、风象星座

守护行星：天王星

星座花：风信子、水仙

花语：永远的怀念、自恋、陶醉

雅典娜——智慧与战争女神

水瓶座大多有着一双灵动的眼睛，高耸的鼻子和面积不小的嘴唇下颚线条柔和，略呈圆形，外表综合来说堪堪称得上是英俊美丽，却并不特别突出。生性悲天悯人，富有改革精神及高贵的情操，可惜有缺乏热情的缺点。</string>
	<key>daibiao</key>
	<string>人生阶段：重生 

人体部位：小腿 

性格特征：睿智 独立 叛逆</string>
	<key>chuanshuo</key>
	<string>在特洛伊城里,住着一位俊美的王子.他的俊美容貌,连城中美女都自叹不如.

有一天,神界将举办宴会,可是替宙斯倒酒的呀个女孩子受伤了,所以没有人能够代替,可是介绍来的女孩子,宙斯都不是很满意.

一天,阿波罗神来到特洛伊城,看到俊美的王子正在和宫女游玩.他心想,人间竟然有如此俊美的王子,于是阿波罗回到神界,将他在特洛伊城看到的情况报告给宙斯听,宙斯觉得不可思议,很想亲眼目睹特洛伊王子.

当宙斯看过特洛伊王子之后,每天朝思暮想,于是宙斯有一种邪恶的想法在心中酝酿.宙斯又来到特洛伊城.等特洛伊王子单独行动时,宙斯变成一只大老鹰,在王子不留神时一把抓住王子回到神界.

特洛伊王子来到神界,宙斯要他代替受伤的女孩为宙斯倒酒,王子就在无可奈何的情形下,只要呆在神界.

王子非常想念家乡,家人,同样的特洛伊国王也非常想念王子,不知他到哪儿去了.宙食看看到王子一天天消瘦,开始觉得惭愧,于是托梦给国王,告诉他王子在神界的情形.为了安慰国王,还送给国王几匹神马以为慰劳.

最后,宙斯也准许王子偶尔回特洛伊城看国王,然后在回到神界替宙斯做倒酒的工作.王子自此变成水瓶,负责给宙斯倒酒.每当夜晚望着星空时,可以有看到一个闪耀的正在倒酒的水瓶星象.</string>
	<key>youdian</key>
	<string>求知欲强、独立、博爱、友善、忠实、可靠、有创意、有远见、有智慧思想新颖、头脑敏锐、善於观察、富有改革精神。</string>
	<key>quedian</key>
	<string>个性怪异、过份执着、标新立异、易夸大问题、固执、墨守成规、不知变通、过於理想主义、倔强、偏激、叛逆、不合群。</string>
	<key>xingge</key>
	<string>因为天王星守护的缘故，水瓶座的人非常需要朋友的陪伴，感觉身旁的人都是朋友，甚至结婚也不会减轻其对友谊的重视程度，一旦被水瓶座人当成朋友，那麽就会得到他们坚定不移的忠诚。水瓶座的人可能会经历各种不同的感受，但他们绝不会有寂寞的感觉。但水瓶人需注意为朋友所做适度的牺牲叫义气，过度了，就叫傻气。

水瓶人总是让人觉得仁慈、友善，给人的第一个印象是富有同情心和善解人意，但他们善於和别人保持距离，并且有些难以捉摸，一方面乐於助人，另一方面却又保持旁观者的超然，别人很难和他建立亲密的关系。在十二星座中，水瓶座可说是最理智的一个，对事物的观察可随时变更角度，把复杂的问题加以巧妙分析，并准确地预测可能的结果。

水瓶座潜存的顽固性，平时不易表露出来，给人的一般印象是柔和舒畅的冷静及客观的观察力，积极而强烈的求知心，坚定的意志力和公正的判断力，然由於其刚正不阿的个性，极为厌恶逢迎巴结的小人姿态具有公正无私的一面。这种硬梆梆的态度，容易被误解为薄情寡义，在不违原则的情况下，倒是不妨通融一下。因为过分的冷静和理智，就缺乏人情味，这对人际关系来说，影响颇大。</string>
	<key>fuhao</key>
	<string>水瓶座符号象征着复杂。

符号能量：坚持。天赋可能让水瓶座比一些人更优秀，但多数成功来自点点滴滴的努力。

水瓶座的符号象徵水和空气的波，是具象但又抽象的；由水瓶座的神话中，可以看出水瓶座的爱好自由和个人主义。象徵水瓶座的波，是高度知性的代表，由波的特性去思考水瓶座的特质，看似有规律但没有具体的形象，是一个不可预测的星座，也是12星座中最难预测的星座，性格通常是时而好，时而坏，喜怒无常，略有神经质。代表着冷静与博爱。</string>
	<key>xinzhi</key>
	<string>水瓶座的最大特色是讨厌束缚、追求自由，他们崇尚独立自主到不惜牺牲一切来换取的地步，而且因为他们崇尚自由的精神，所以对他人的自由也颇为尊重，是友善的个人主义。对此型的人而言，地位、名誉财富都是束缚自己的链子，连结婚也是一种束缚。与朋友基於精神与心智的亲近而建立情谊，待人亲切但不深交，充满智慧却缺乏热心。是怀抱着世界大同理想的博爱主义者。富研究精神，喜爱新颖的事物、音乐及自由。十分理智，不易受周围环境影响。对於博爱又知性的水瓶座来说，所有的关系都是从朋友开始发展的，每个人都可以成为他的朋友，因为每个人都有不同的特质和优点，值得他去发掘、去了解。天生不爱装模作样，也不屑那些媚上傲下的行为。讨厌仿冒品和伪君子。

此星座的人，极不欣赏平凡而无奇的思想，喜欢献身於自己的信念中，完全不理会他人，故总是让人有与众不同、自行其是的印象。对名利不太热衷，只希望能过着像风一样自由自在的生活，他们不会在乎别人的看法或批评，顶多只是耸耸肩或是一笑置之。水瓶们具有快捷的行动，求新的思想，天生富有创意，常会有新奇的点子，具有科学家的特质，擅於将新奇的见解表现在艺术或是科学研究当中。由於他特别喜欢创新和出奇招，有时甚至会有标新立异的倾向。

水瓶座的人一向我行我素，不管别人一切善意恶意的批评，甚至在行为上也是凭直觉，懒得去找冠冕堂皇的藉口去做合理的解释，乃因其自有其原则，并不是缺乏想像力，其实瓶子的思想总是超出所处的时代并总能提出一针见血、充满智慧的见解。他们的精神领域相当宽阔，常神游其中，不过在别人眼中，或许会被视为漫不经心。

具有利他精神，朋友有难，马上雪中送炭。与人意见不合时即致力於沟通，不会停滞在无益的愤怒、叫骂或颓废的情绪中，会追求积极面排除消极面，表现公正的性格。瓶子选择朋友有点严格，而且喜欢开朗的人，不太会主动对沉默的人伸出友谊的手，但一旦被他的友谊之手握住了，在朋友危急时，他是不会松手任其跌落的。

水瓶具有科学精神，能够以批判的态度和合於逻辑的思考方式面对问题。虽然许多水瓶座的人成为科学家，但并不是所有的水瓶座都适合从事科学研究。必须藉水星的位置来判断其思想是否能维持平衡。假如水瓶座在上升星座，他那难以捉摸的性格会较趋平和、稳定；如果水星在金牛座或摩羯座，则会有变本加厉的倾向。</string>
	<key>aiqing</key>
	<string>水瓶人深厌束缚的天性使得他们纵使在在婚姻中仍需维持某种程度的独立自主，瓶子的伴侣对这点特质切记须予以尊重和谅解，才能维系良好的感情，因为让瓶子感到受困是种不智之举，他们会力求脱困，如果你对瓶子绑得愈紧，那麽他跑得愈快，最高层次的作法就像如来佛对孙猴子一般，让他感觉海阔天空，实情则为他仍在你掌握之中。事实上即使他的伴侣温柔而体谅，水瓶座的人依然喜欢独处，而不喜欢别人的干扰，他们认为享受孤独是一件美妙的艺术。水瓶座中较好的一类型，婚姻生活稳定，会忠於妻子，不过却不解风情。

财富与地位这类外在条件对瓶座人而言并不怎麽重要，而一个有足够的智慧与开阔胸襟的人能陪着他们追寻理想的人对他们却有致命的吸引力，「人生」对瓶子来说，是一场无尽的探索。他们喜欢聪明、博学或是具有丰富知识的人；醋桶奇大，占有欲强，脑筋不会转弯的人都不适合他们的胃口。重视精神层面，因此对肉体吸引的感应力较弱，沉迷於恋爱的过程而非结果。

性爱对於水瓶座人来说，只是一种知识的追寻，他们可能有丰富的理论、高明的技巧，但是却难有遏抑不住的激情，男性往往控制得很好不会有太激动的表现；女性纵使在过程中为应对方需要而有热情的回应内心却彷佛有另一个人在冷冷地观察，但她们亦为此深深懊恼，期盼能拥有激情的感受。</string>
	<key>shiye</key>
	<string>此星座的人需要富有创意或是能够使自己长进的工作，他们对一成不变的例行公事很快就会感到厌倦。当然，他们当然也有足够的能力从事呆板的工作，不过这却白白辜负了他们与生俱有的创造能力。只要有机会，瓶座人便能想出许多新奇的点子，并且赋予他所从事的工作，一种崭新而独特的面目。

水瓶座人不适合独立工作，会因过於认真的态度而使压力过大，造成心情紧张、忧虑不安，故适合与别人合作，甚至仅为团体的一部份，在无压力的状态下，方能完全展现其绝佳的记忆力与创造力。</string>
	<key>tixian</key>
	<string>水瓶座的人常将他的创意和对科学的爱好带入休闲生活中，通常比较讨厌运动，而喜欢在一旁观看，说得好听点是偏向智力而非体力的活动，但事实则是较为懒散，因此单一定点的渡假中心最对其脾胃。</string>
	<key>fumu</key>
	<string>水瓶座的父母往往把自己的心性套在孩子身上，因此期望子女能有独立自主的精神，他们会为孩子购置最新的教育用品，也会把逾越年龄的智慧灌输在小小脑袋当中，不过瓶座的父母常会和子女就各种问题进行讨论，所以也比较不会有沟通上的问题。会是个仁慈、友善、讲理的父母。不过，因其善於自我控制的本能，孩子会觉得缺乏热情。</string>
	<key>zinv</key>
	<string>水瓶座的孩子学习能力很强，学校的成绩也会有令人满意的表现，但因其常跑在其他同龄孩童的前面，父母应该提防并纠正那脱离常轨的举止。水瓶座的子女相当聪明，喜欢寻求新知，父母应给予适当的引导使其创意能够自小就有适度的发挥。</string>
	<key>xinyun</key>
	<string>幸运日礼拜叁

幸运宝石红色石榴石

幸运色青色度的蓝绿

幸运数字4,8

幸运地点繁忙的地方和大都市</string>
</dict>
</plist>
